[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group midonet-admins
[access "refs/heads/*"]
	read = group Anonymous Users
	create = group midonet-installers
	push = +force group midonet-installers
	pushMerge = group midonet-installers
	exclusiveGroupPermissions = create forgeCommitter push pushMerge label-Code-Review label-Verified labelAs-Verified submit
	forgeCommitter = group midonet-installers
	label-Code-Review = -2..+2 group midonet-installers
	label-Code-Review = -1..+1 group Anonymous Users
	label-Verified = -1..+1 group midonet-bots
	label-Verified = -1..+1 group midonet-installers
	labelAs-Verified = -1..+1 group midonet-installers
	removeReviewer = group midonet-installers
	submit = group midonet-installers
[access "refs/tags/*"]
	push = +force group user/JF Joly (jfjoly)
	pushTag = group user/JF Joly (jfjoly)
	pushSignedTag = group user/JF Joly (jfjoly)
[access "refs/drafts/*"]
	read = group Anonymous Users
	push = group Registered Users
